# Composer
/vendor/
composer.phar

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.sublime-*
*.code-workspace

# WordPress
wp-config.php
sftp-config.json

# Build / Cache
*.cache
*.log
node_modules/

#Custom
bb-plugin/